In [ ]:

import numpy as np
import pandas as pd
import seaborn as sns
import os, glob, sys
import matplotlib.pyplot as plt

In [ ]:

from datetime import datetime

In [ ]:
d1 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')
d2 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')
d3 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')
d4 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')
d5 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')
d6 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')
d7 = pd.read_csv('./data/OBS_ASOS_TIM_20211017003024.csv',encoding='cp949')

In [24]:
d = pd.concat([d1,d2])
d = pd.concat([d,d3])
d = pd.concat([d,d4])
d = pd.concat([d,d5])
d = pd.concat([d,d6])
d = pd.concat([d,d7])

In [25]:
d

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),운형(운형약어),지면온도(°C)
0,108,서울,2013-01-01 01:00,-8.5,NaN,4.0,50,57.0,1.8,-15.5,1010.0,NaN,NaN,6.4,NaN,NaN,-3.4
1,108,서울,2013-01-01 02:00,-8.4,NaN,4.0,70,60.0,2.0,-14.7,1009.4,NaN,NaN,6.4,NaN,NaN,-3.4
2,108,서울,2013-01-01 03:00,-8.1,NaN,3.4,70,58.0,1.9,-14.9,1009.2,NaN,NaN,6.4,6.0,Ac,-3.4
3,108,서울,2013-01-01 04:00,-8.2,NaN,3.8,70,58.0,1.9,-15.0,1008.2,NaN,NaN,6.4,6.0,Ac,-3.4
4,108,서울,2013-01-01 05:00,-8.2,NaN,4.4,70,61.0,2.0,-14.4,1007.3,NaN,NaN,6.4,10.0,ScAs,-3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,108,서울,2013-12-31 21:00,4.9,NaN,3.9,270,64.0,5.6,-1.3,999.6,NaN,NaN,NaN,6.0,Sc,0.1
8757,108,서울,2013-12-31 22:00,4.2,NaN,3.6,270,62.0,5.1,-2.4,1000.4,NaN,NaN,NaN,NaN,NaN,0.1
8758,108,서울,2013-12-31 23:00,3.7,NaN,3.2,250,61.0,4.9,-3.1,1001.2,NaN,NaN,NaN,NaN,NaN,0.1
8759,108,서울,2014-01-01 00:00,3.3,NaN,3.8,250,65.0,5.0,-2.6,1001.9,NaN,NaN,NaN,6.0,Sc,0.0
8760,108,서울,2014-01-01 01:00,2.6,NaN,2.3,250,66.0,4.9,-3.1,1002.2,NaN,NaN,NaN,NaN,NaN,-0.1

In [26]:
import datetime


display(d)

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),운형(운형약어),지면온도(°C)
0,108,서울,2013-01-01 01:00,-8.5,NaN,4.0,50,57.0,1.8,-15.5,1010.0,NaN,NaN,6.4,NaN,NaN,-3.4
1,108,서울,2013-01-01 02:00,-8.4,NaN,4.0,70,60.0,2.0,-14.7,1009.4,NaN,NaN,6.4,NaN,NaN,-3.4
2,108,서울,2013-01-01 03:00,-8.1,NaN,3.4,70,58.0,1.9,-14.9,1009.2,NaN,NaN,6.4,6.0,Ac,-3.4
3,108,서울,2013-01-01 04:00,-8.2,NaN,3.8,70,58.0,1.9,-15.0,1008.2,NaN,NaN,6.4,6.0,Ac,-3.4
4,108,서울,2013-01-01 05:00,-8.2,NaN,4.4,70,61.0,2.0,-14.4,1007.3,NaN,NaN,6.4,10.0,ScAs,-3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,108,서울,2013-12-31 21:00,4.9,NaN,3.9,270,64.0,5.6,-1.3,999.6,NaN,NaN,NaN,6.0,Sc,0.1
8757,108,서울,2013-12-31 22:00,4.2,NaN,3.6,270,62.0,5.1,-2.4,1000.4,NaN,NaN,NaN,NaN,NaN,0.1
8758,108,서울,2013-12-31 23:00,3.7,NaN,3.2,250,61.0,4.9,-3.1,1001.2,NaN,NaN,NaN,NaN,NaN,0.1
8759,108,서울,2014-01-01 00:00,3.3,NaN,3.8,250,65.0,5.0,-2.6,1001.9,NaN,NaN,NaN,6.0,Sc,0.0
8760,108,서울,2014-01-01 01:00,2.6,NaN,2.3,250,66.0,4.9,-3.1,1002.2,NaN,NaN,NaN,NaN,NaN,-0.1

In [27]:

d.rename(columns = {"일시": "time","기온(°C)" : "temperature", "습도(%)":"humidity", "증기압(hPa)" : "vapor", "풍속(m/s)":"wind_speed","현지기압(hPa)":"pressure"}, inplace = True)

d["time"] = d["time"].apply(lambda x : datetime.datetime.strptime(x,"%Y-%m-%d %H:%M" ))
d["temperature"] = d["temperature"].interpolate(method = "values")
d["humidity"] = d["humidity"].interpolate(method = "values")
d["vapor"] = d["vapor"].interpolate(method = "values")
d["wind_speed"] = d["wind_speed"].interpolate(method = "values")
d["pressure"] = d["pressure"].interpolate(method = "values")

In [30]:
d = d[['time','temperature','humidity','vapor','pressure']]

In [ ]:
d.to_csv('./weather.csv')